[gcode_macro START_PRINT]
variable_bed_temp: 80
variable_extruder_temp: 240
gcode:
    WAIT_TEMP_END
    {% set g28_extruder_temp = printer.custom_macro.g28_ext_temp %}
    {% set bed_temp = printer.custom_macro.default_bed_temp %}
    {% set extruder_temp = printer.custom_macro.default_extruder_temp %}
    {% if 'BED_TEMP' in params|upper and (params.BED_TEMP|float) %}
    {% set bed_temp = params.BED_TEMP %}
    {% endif %}
    {% if 'EXTRUDER_TEMP' in params|upper and (params.EXTRUDER_TEMP|float) %}
    {% set extruder_temp = params.EXTRUDER_TEMP %}
    {% endif %}
    M190 S{bed_temp}
    G28                                                                             # home all axis 
    G4 P1000                                                                        # wait required to prevent camera restarting too quickly causing mcu crash
    RUN_SHELL_COMMAND CMD=cam-stop                                                  # stop camera services to prevent mcu overload
    G4 P1000                                                                        # wait required to allow the camera services to close
    BED_MESH_CLEAR                                                                  # clear current mesh
    G4 P500                                                                         # wait required to prevent MCU overload / inconsistant meshing
    SET_VELOCITY_LIMIT ACCEL=15000 ACCEL_TO_DECEL=10000 SQUARE_CORNER_VELOCITY=25   # drop accels to prevent hyper agressive meshing
    M190 S{bed_temp}
    BED_MESH_CALIBRATE
    G4 P500
    BED_MESH_PROFILE SAVE=adaptive
    BED_MESH_PROFILE LOAD=adaptive                                                   # start bedmesh calibrate
    G4 P500                                                                         # wait required to prevent MCU overload / inconsistant mesh calculation
    {% if printer.exclude_object.objects != [] %}
      RUN_SHELL_COMMAND CMD=cam-start                                                 # re-start creality camera service
      _SMART_PARK                                                                      # park the printhead near the print area
      SET_VELOCITY_LIMIT ACCEL=18000 ACCEL_TO_DECEL=10000 SQUARE_CORNER_VELOCITY=5    # up acceleration back to slightly below regular travel speeds
      M190 S{bed_temp}                                                                # wait for bed temperature before next step
      M109 S{extruder_temp}                                                           # wait for nozzle temperature before next step
      _LINE_PURGE                                                                      # create purge line near the print area of the part
      {action_respond_info("Happy Printing! (ᴖ3ᴖ)♥(ᴖ◡ᴖ)")}                    # happy printing~
    {% else %}
      M109 S{extruder_temp}
      M190 S{bed_temp}
    {% endif %}
    SET_VELOCITY_LIMIT ACCEL={printer.configfile.settings.printer.max_accel}

[gcode_macro END_PRINT]
gcode:
  #Qmode_exit
  G91                                                                                 # set to reletive positioning
  G1 Z5                                                                               # move z down 5mm to avoid contacting nozzle
  G90                                                                                 # set to absolute positioning
  {% set POSITION_X = printer.configfile.settings['stepper_x'].position_max *0.99 %}  # Calculate 99% position of X 
  {% set POSITION_Y = printer.configfile.settings['stepper_y'].position_max /2 %}     # calculate 50% of total Y
  G1 X{POSITION_X} Y{POSITION_Y} F6000                                                # move toolhead to the front of the K1 aux fan like stock
  M220 S100                                                                           # set feedrate to 100
  M204 S500                                                                           # set starting acceleration to 500
  TURN_OFF_HEATERS                                                                    # disable heaters
  M107 P1                                                                             # turn toolehad fan off
  M107 P2                                                                             # turn sidefan off
  M84                                                                                 # power off motors
  {action_respond_info("Print complete!")}                                            # End Print Notification